<div id="<%= dom_id post %>">
  <div class="card text-dark bg-light mb-3" style="max-width: 40rem;">
    <div class="card-header">Post.</div>
    <div class="card-body">
      <h5 class="card-title">Body</h5>
      <p class="card-text"><%= post.body %></p>
    </div>
  </div>
</div>
